/*Sidebar*/

.sidebar{
  width: 250px;
}

.sidebar+.main-content{
  margin-left: 250px;
}
.w150{
  width: 150px;
}

#pengaturan-cetak .control-label {
	text-align: left;
}

#pengaturan-cetak label {
	font-weight: 800;
	font-size: 12px;
}

#pengaturan-cetak .col-sm-5 {
	padding-left: 10px;
}

#pengaturan-notifikasi .control-label {
	text-align: left;
}

#pengaturan-notifikasi label {
	font-weight: 800;
	font-size: 13px;
}

#pengaturan-tuslah .control-label {
	text-align: left;
}

#pengaturan-tuslah label {
	font-weight: 800;
	font-size: 13px;
}

#pengaturan-ppn .control-label {
	text-align: left;
}

#pengaturan-ppn label {
	font-weight: 800;
	font-size: 13px;
}

.footer .footer-inner .footer-content {
    border-top: 0px double #E5E5E5;
}